*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(109 141 236);
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width:100vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    height:min-content;
    width:500px;
    background-color:rgba(255, 254, 254, 0.893) ;
    border:none;
    border-radius: 15px;
    padding:15px;
    margin:15px;
}
.header{
    height:50px;
    width:100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   line-height: 45px;
}
.header h1{
    color:rgba(0, 0, 0, 0.776);
    font-size: 25px;
    align-self: center;
}
.header span{
    height:2px;
    width:15%;
    border:2px solid rgba(0, 179, 255, 0.817);
    align-self: center;
    border-radius:15px;
}
.content{
    height:200px;
    width:100%;
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top:25px;
    gap:55px;
}
.text{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    color:rgba(0, 0, 0, 0.735);
    
}
.author{
    width:100%;
    display: flex;
    justify-content: flex-end;
    padding:9px;
}
.btns{
    width:100%;
    height:60px;
    padding:20px;
    display:flex;
    justify-content: center;
    gap:15px;
}
.create_quote{
    height:35px;
    width:100px;
    border:none;
    border-radius: 20px;
    background-color: rgb(0 37 255 / 82%);
    color:rgba(255, 255, 255, 0.79);
    font-size: 12px;
    cursor: pointer;
}
#tweet{
    height:35px;
    width:100px;
    border:none;
    border-radius: 20px;
    border:2px solid rgba(0, 166, 255, 0.692);
    background-color: white;
    cursor: pointer;
}
#tweet span{
    color:rgba(0, 0, 0, 0.687);
    font-size: 10px;
}
